<ion-content>
 <div class="container mb-5">
  <div class="icon-box">

    <ion-icon color="primary" [name]="this.taskData.data.value.Icon" size="large"
     [style.color]="this.taskData.data.value.Color" ></ion-icon>
    </div>

    <div class="detail">
      <h2>{{this.taskData.data.value.Title}}</h2>
      <p>{{this.taskData.data.value.Description}}</p>
    </div>
      <div class="close-icon"  (click)="dismissModal()">
      <ion-icon name="close" ></ion-icon>
    </div>
  </div>
  <hr class="horizontal-line">
  <ion-card>
    <ion-list>
      <ion-item (click)="onDuplicate(this.taskData.data)">
        <ion-label>Duplicate </ion-label>
        <ion-icon name="duplicate-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label (click)="onComplete()">Task Complete</ion-label>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-item>
      <ion-item (click)="onMissed()">
        <ion-label>Task Missed</ion-label>
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-item>
      <ion-item  (click)="onEdit(this.taskData.data)">
        <ion-label>Edit Task</ion-label>
        <ion-icon name="create-outline"></ion-icon>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item  (click)="presentAlertDelete()" >
      <ion-label color="danger">Delete Task</ion-label>
      <ion-icon color="danger" name="trash-outline"></ion-icon>
    </ion-item>
  </ion-card>

  </ion-content>