ion-content{
  --background:#f0f0f2;
}
ion-datetime.stylebg{
  --background:#e6e6fa;
    --border-color: #800080 !important;
    width: 120%;
  }

ion-card{

  //opacity: 50%;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon-button  {
    align-self: flex-start;

  
   ion-icon{
    margin: 5px !important;
   }
  }
  .detail {
    flex-grow: 1; /* Allow this div to grow and occupy remaining space */
    margin:  10px; /* Add margins for spacing */
  }
  .detail h2,
  .detail p {
    margin: 0; /* Remove default margins */
  }
  .close-icon {
    cursor: pointer;
  }
  .close-icon {
    width: 40px; /* Adjust the size of the circle */
    height: 40px;
    background-color: #ccc; /* Gray background color */
    border-radius: 50%; /* Create a circle shape */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle-box{
    margin: 8px;
  ion-icon{
    font-size:30px;
  }
  }
  .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
   
    border: 2px solid gray;
 
  }
  .center-div {
    display: flex;
    align-items: center;
    justify-content:flex-end;
  }
}

h2{
  color: #000;
}
